@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #1f1f40;
  --secondary-color: #f57479;
  --tertiary-color: #934ae4;
}
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

a {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-decoration: none;
}

section {
  padding: 120px 0px;
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}

.btn {
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 3px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid;
  cursor: pointer;
}
