nav {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 16px 8px;
  align-items: center;
  display: flex;
  z-index: 999;
  transition: 0s all ease;
}
.nav-scrolled {
  background: #1f1f40;
  z-index: 99999;
  transition: 0s all ease;
}
nav .container {
  align-items: center;
}
.logo {
  cursor: pointer;
}

.menu-container {
  margin-left: auto;
}

.menu {
  display: flex;
  list-style: none;
  color: #fff;
}

.item {
  padding-right: 20px;
  padding-left: 35px;
}

.link-item {
  font-weight: 500;
  cursor: pointer;
}

.link-item:hover {
  color: #f57479;
}
