.skill-left {
  flex: 0 0 50%;
  max-width: 50%;
  height: 100%;
  padding-right: 60px;
}
.skill-right {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: right;
}
.skill-img {
  position: absolute;
  left: 0;
  content: "";
  bottom: 0;
  margin-bottom: -90px;
}
.skill h4 {
  font-weight: 500;
  margin-bottom: 10px;
}
.progress {
  background-color: #e9ecef;
  display: flex;
  font-size: 0.75rem;
  height: 8px;
  margin-bottom: 40px;
}
.progress span {
  color: #fff;
  position: absolute;
  right: 0;
  top: -36px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: var(--secondary-color);
}

.progress span::before {
  position: absolute;
  content: "";
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--secondary-color);
}
.progress-fill {
  position: relative;
  width: 0;
  transition: width 3s ease 0s;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  background-color: var(--tertiary-color);
}
