@import url("./global.css");
@import url("./navbar.css");

.container {
  display: flex;
  max-width: 1140px;
  align-items: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.head-banner {
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 744px;
}
